@model IEnumerable<WebApplication.PaperAssignment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_paper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_pcmember)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_assigned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_due)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_delegated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_paper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_pcmember)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_assigned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_due)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_delegated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_paper_assignment }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_paper_assignment }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_paper_assignment })
        </td>
    </tr>
}

</table>
