@model IEnumerable<WebApplication.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_paper_assignment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.confidence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment_to_edit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_submitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.from_subreviewer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_paper_assignment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.confidence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment_to_edit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_submitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.from_subreviewer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_review }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_review }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_review })
        </td>
    </tr>
}

</table>
