@model IEnumerable<WebApplication.Paper>

@{
    ViewBag.Title = "PapersForChair";
}

<h2>Papers for Chair</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pdf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_submitted)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.decision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.decision_text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contributions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.text)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pdf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_submitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.decision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.decision_text)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contributions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.text)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.id_paper }) |
                @if (item.decision_text == null && item.decision == false)
                { <a href="@Url.Action("AddDecision", "Papers", new { id = item.id_conference })">Add Decision</a>

                }


            </td>
        </tr>
    }

</table>
