@model IEnumerable<WebApplication.Subreview>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            Paper's title
        </th>
        <th>
            Conference name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.confidence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment_to_edit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_submitted)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Subreviewer.PaperAssignment.Paper.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subreviewer.PaperAssignment.PCmember.Conference.conference_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.confidence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment_to_edit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_submitted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_subreview }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_subreview })

            </td>
        </tr>
    }

</table>
<hr />
<p>Important!</p>
<p>Grade : You must give a grade for the scientific paper</p>
<p>Confidence : You must give yourself a grade that illustrates how much you are experienced in evaluating this paper. The assessment is as follows: each evaluator gives a score of 1-5; 1 - the evaluator considers that he is not at all specialized in this field or knows very little in the field, 5 - the evaluator has excellent skills acquired for the field in which the paper was written</p>
<p>Comment : Enter your suggestions / recommendations</p>
<p>Comment to edit : If you edit your comment, the old one will be displayed here</p>



