@model IEnumerable<WebApplication.Subreview>

@{
    ViewBag.Title = "SubreviewsForChair";
}

<h2>Subreviews for Chair</h2>


<table class="table">
    <tr>
        <th>
            Reviewer's name
        </th>
        <th>
            Paper title
        </th>
        <th>
            Conference
        </th>
        @*<th>
                Autor
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.confidence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment_to_edit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_submitted)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subreviewer.User.surname) @Html.DisplayFor(modelItem => item.Subreviewer.User.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subreviewer.PaperAssignment.Paper.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subreviewer.PaperAssignment.PCmember.Conference.Chair.first_name)   @Html.DisplayFor(modelItem => item.Subreviewer.PaperAssignment.PCmember.Conference.Chair.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subreviewer.PaperAssignment.PCmember.Conference.conference_name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.confidence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment_to_edit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_submitted)
            </td>
            <td>
                    @Html.ActionLink("Add final Review ", "FinalReview", new { id=item.id_subreview }) |
               
                </td>
        </tr>
    }

</table>
