@model IEnumerable<WebApplication.Subreview>

@{
    ViewBag.Title = "SubviewsForChair";
}

<h2>SubviewsForChair</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Reviewer's name
        </th>
        <th>
            Paper title
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.confidence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment_to_edit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_submitted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subreviewer.User.surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subreviewer.PaperAssignment.Paper.title)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.confidence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment_to_edit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_submitted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_subreview }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_subreview }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_subreview })
        </td>
    </tr>
}

</table>
