@model WebApplication.User
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/Site.css" type="text/css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div>
    <h2>Invite user - @Model.surname @Model.first_name </h2>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.surname)
        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.first_name)

        </dt>
        <dd>
            @Html.DisplayFor(model => model.first_name)

        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>



    </dl>
    <hr />
    <div class="container">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="@Url.Action("WriteText", "Conferences")">Write a message</a></li>
            <li><a href="@Url.Action("Index", "Conferences")">Back to Conferences</a></li>
            <li><a href="@Url.Action("HCarousel", "Home")">Back to home</a></li>



        </ul>
    </div>


</div>

