@model IEnumerable<WebApplication.Conference>

@{
    ViewBag.Title = "ShowConferences";
}

<h2>Conferences for Chair</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.conference_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end_date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.conference_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end_date)
            </td>
            <td>
                <a href="@Url.Action("AddDecision", "Papers",new { id=item.id_conference })">Add Decision</a>
            </td>
        </tr>
    }

</table>
