@model WebApplication.PCmember

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PCmember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_conference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_conference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_chair)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_chair)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_invitation_sent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_invitation_sent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_invitation_acc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_invitation_acc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_valid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_valid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_pcmember }) |
    @Html.ActionLink("Back to List", "Index")
</p>
